body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #363636;
    color: #333;
    text-align: center;
}

header {
    background: #292929;
    color: white;
    padding-top: 5px;
}

.header {
    display: flex;
    margin-top: 10px;
    margin: 2%;
    padding: 0 10px;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
}

.image {
    padding: 0 20px 0 0;
}

.logo{
    height: 70px;
    margin: 0 30px 20px 0;
}


nav {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-left: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.title {
    text-align: center;
    flex: 2;
    font-size: 24px;
    color: white;
}

.intro {
    padding: 40px;
    background: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition-delay: 0.5s;
}

.btn:hover {
    background: #0056b3;
}

.content {
    padding: 20px;
}

.hidden {
    display: none;
}

footer {
    background: #222;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}