body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #363636;
    color: #333;
}

header {
    background: #292929;
    color: white;
    padding-top: 10px;
    /* text-align: center; */
}



.header {
    display: flex;
    padding-top: 5px;
}

header nav, .title{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin: auto;
}



.image {
    margin: auto auto 10px 20px;
}

.logo{
    height: 70px;
}


nav {
    gap: 10px;
    font-size: 18px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;    
}


nav a:hover {
    color: rgb(38, 101, 236);
    font-size: 20px;
}

.title {
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 24px;
    color: white;
}

.link {
    transition: 0.2s;
    margin: 0 50px 0 50px;
}

.intro {
    padding: 40px;
    background: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition-delay: 0.5s;
}

.btn:hover {
    background: #0056b3;
}

.content {
    padding: 20px;
}

.hidden {
    display: none;
}

footer {
    background: #222;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}