@media (min-width: 768px) {
    
    .btn_menu {
        display: none;
    }
}

@media (max-width: 600px) {
    body{
        font-size: 14px;
        gap: 0;
    }

    header {
        background: #292929;
        color: white;
        padding-top: 1px;
        border-radius: 0 0 10px 10px;
    }

    header nav, .menu{
        gap: 55px;
        font-size: 15px;
    }

    .btn_menu {
        position: fixed;
        top: 9px;
        left: 9px;
        font-size: 28px;
        border-radius: 50px;
        border: none;
        background: rgba(110, 110, 110, 0.514);
        color: #fffefe;
        z-index: 1001;
        cursor: pointer;
        text-align: center;
    }

    .menu {
        position: fixed;
        left: -250px;
        top: 0;
        width: 150px;
        height: 100%;
        background: #111;
        color: white;
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .logo{
        height: 30px;
        margin: 5px;
    }

    .menu a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: 0.2s;
    }
    
    .menu a:hover {
        text-decoration: none;
        color: rgb(38, 101, 236);
        font-size: 15px;
    }

    .menu.open {
        left: 0;
      }
}