.containerModulo {
  
  background-color: rgb(66, 82, 92);
}

main .container {
  justify-content: center;
  gap: 40px;
  display: flex;
  /* align-items: center; */
}

.container .modul {
  border-radius: 10%;
}

main h1,
a {
  display: flex;
  justify-content: center;
  align-items: center;
}

main a {
  width: 100%;
  left: 10px;
  right: 10px;
}

main .marginModulo {
  max-width: 15%;
  height: 20%;
  width: 20%;
}

.alignitems {
  background-color: rgba(95, 95, 95, 0.521);
  box-shadow: 0 0 20px rgba(39, 39, 39, 0.795);
  border-radius: 8%;
}

main .imgModul {
  border-radius: 10%;
}

.modul {
  display: flex;
  border: 0;
  /* box-shadow: 0 0 20px rgba(57, 137, 241, 0.795); */
  animation: brilho-pulsante 2s ease-in-out infinite;
}

@keyframes brilho-pulsante {
  0%,
  100% {
    box-shadow: 0 0 15px rgba(21, 134, 255, 0.603);
  }
  50% {
    box-shadow: 0 0 25px rgb(3, 40, 145);
  }
}

main .alignitems:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
