.textContainer {
  margin-left: 2%;
  margin-bottom: 4%;
}

.text-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #007cf0;
  margin-bottom: 1rem;
}

.text-body {
  font-size: 1.1rem;
  color: #ddd;
  max-width: 800px;
  margin: 0;
}

.text-highlight {
  color: #cfcfcf;
  font-weight: 600;
  margin-top: 1rem;
  font-size: 1rem;
}

.aside-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.score-text {
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
}